1. Data Cleaning and Preprocessing:

IMPORT LIBRARY

In [1]:
import pandas as pd
MN = pd.read_csv("laptopdata.csv")

DATA LOADING

In [2]:
MN

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,1.0,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,2.0,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,3.0,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,4.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080
...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1298.0,Lenovo,2 in 1 Convertible,14,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,33992.6400
1299,1299.0,Lenovo,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,79866.7200
1300,1300.0,Lenovo,Notebook,65.4,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,12201.1200
1301,1301.0,HP,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,40705.9200
1302,1302.0,Asus,Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,19660.3200

DATA DESCRIPTION

In [3]:
MN.head()

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,71378.6832
1,1.0,Apple,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,47895.5232
2,2.0,HP,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,30636.0000
3,3.0,Apple,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,135195.3360
4,4.0,Apple,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,96095.8080

In [4]:
MN.tail()

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
1298,1298.0,Lenovo,2 in 1 Convertible,14,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,33992.64
1299,1299.0,Lenovo,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,79866.72
1300,1300.0,Lenovo,Notebook,65.4,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,12201.12
1301,1301.0,HP,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,40705.92
1302,1302.0,Asus,Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,19660.32

In [5]:
MN.describe()

        Unnamed: 0          Price
count  1273.000000    1273.000000
mean    652.674784   59955.814073
std     376.493027   37332.251005
min       0.000000    9270.720000
25%     327.000000   31914.720000
50%     652.000000   52161.120000
75%     980.000000   79333.387200
max    1302.000000  324954.720000

In [6]:
MN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1273 non-null   float64
 1   Company           1273 non-null   object
 2   TypeName          1253 non-null   object
 3   Inches            1220 non-null   object
 4   ScreenResolution  1273 non-null   object
 5   Cpu               1273 non-null   object
 6   Ram               1259 non-null   object
 7   Memory            1273 non-null   object
 8   Gpu               1273 non-null   object
 9   OpSys             1273 non-null   object
 10  Weight            1259 non-null   object
 11  Price             1273 non-null   float64
dtypes: float64(2), object(10)
memory usage: 122.3+ KB

DATA VALIDATION

In [7]:
MN.loc[MN['Price']<=0,'Price']=MN['Price'].mean()

DATA TYPE CONVERSION

In [8]:
MN['Inches']=pd.to_numeric(MN['Inches'],errors='coerce')

In [9]:
MN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1273 non-null   float64
 1   Company           1273 non-null   object
 2   TypeName          1253 non-null   object
 3   Inches            1219 non-null   float64
 4   ScreenResolution  1273 non-null   object
 5   Cpu               1273 non-null   object
 6   Ram               1259 non-null   object
 7   Memory            1273 non-null   object
 8   Gpu               1273 non-null   object
 9   OpSys             1273 non-null   object
 10  Weight            1259 non-null   object
 11  Price             1273 non-null   float64
dtypes: float64(3), object(9)
memory usage: 122.3+ KB

FIND THE NULL VALUES

In [10]:
MN.isnull().sum()

Unnamed: 0          30
Company             30
TypeName            50
Inches              84
ScreenResolution    30
Cpu                 30
Ram                 44
Memory              30
Gpu                 30
OpSys               30
Weight              44
Price               30
dtype: int64

In [11]:
MN['Price']=MN['Price'].fillna(MN['Price'].mean())

In [12]:
MN['Inches']=MN['Inches'].fillna(MN['Price'].mean())

In [13]:
MN['Cpu']=MN['Cpu'].fillna(MN['Cpu'].mode()[0])

In [14]:
MN['ScreenResolution']=MN['ScreenResolution'].fillna(MN['ScreenResolution'].bfill)

In [15]:
MN['Ram']=MN['Ram'].fillna(MN['Ram'].ffill)

In [16]:
MN['Memory']=MN['Memory'].fillna(MN['Memory'].mode()[0])

In [17]:
MN['Gpu']=MN['Gpu'].fillna(MN['Gpu'].ffill)

In [18]:
MN['OpSys']=MN['OpSys'].fillna(MN['OpSys'].bfill)

In [19]:
MN['Weight']=MN['Weight'].fillna(MN['Weight'].mode()[0])

In [20]:
MN['Company']=MN['Company'].fillna(MN['Company'].bfill)

In [21]:
MN['TypeName']=MN['TypeName'].fillna(MN['TypeName'].bfill)

In [22]:
MN.drop(MN.columns[0],axis=1,inplace=True)

In [23]:
MN.isnull().sum()

Company             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price               0
dtype: int64

In [24]:
MN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1303 non-null   object
 1   TypeName          1303 non-null   object
 2   Inches            1303 non-null   float64
 3   ScreenResolution  1303 non-null   object
 4   Cpu               1303 non-null   object
 5   Ram               1303 non-null   object
 6   Memory            1303 non-null   object
 7   Gpu               1303 non-null   object
 8   OpSys             1303 non-null   object
 9   Weight            1303 non-null   object
 10  Price             1303 non-null   float64
dtypes: float64(2), object(9)
memory usage: 112.1+ KB

In [25]:
MN['Ram']=MN['Ram'].str.replace('GB','')

In [26]:
MN['Ram']=pd.to_numeric(MN['Ram'],errors='coerce')

In [27]:
MN['Ram'].head()

0     8.0
1     8.0
2     8.0
3    16.0
4     8.0
Name: Ram, dtype: float64

In [28]:
MN['Weight']=MN['Weight'].str.replace('kg','')

In [29]:
MN['Weight']=pd.to_numeric(MN['Weight'],errors='coerce')

In [30]:
MN['Weight'].head()

0    1.37
1    1.34
2    1.86
3    1.83
4    1.37
Name: Weight, dtype: float64

In [31]:
# Step 1: Split the CPU string
MN['Cpu_Brand'] = MN['Cpu'].str.split().str[0]                     # 'Intel'
MN['Cpu_Series'] = MN['Cpu'].str.extract(r'(Intel\s\w+\s\w+)')     # 'Intel Core i5'
MN['Cpu_Speed_GHz'] = MN['Cpu'].str.extract(r'([\d\.]+)GHz').astype(float)  #Â 2.3,Â 1.8,Â etc.

In [32]:
MN['Cpu'].head()

0          Intel Core i5 2.3GHz
1          Intel Core i5 1.8GHz
2    Intel Core i5 7200U 2.5GHz
3          Intel Core i7 2.7GHz
4          Intel Core i5 3.1GHz
Name: Cpu, dtype: object

In [33]:
MN['Ram']=pd.to_numeric(MN['Ram'],errors='coerce')
MN.describe()

             Inches          Ram       Weight          Price  Cpu_Speed_GHz
count   1303.000000  1259.000000  1301.000000    1303.000000    1303.000000
mean    3879.566909     8.482129     2.149962   59955.814073       2.303546
std    14725.955076     5.586745     1.372360   36899.649480       0.502149
min        2.100000     1.000000     0.000080    9270.720000       0.900000
25%       14.000000     4.000000     1.540000   32650.250400       2.000000
50%       15.600000     8.000000     2.090000   52747.200000       2.500000
75%       15.600000     8.000000     2.310000   78561.360000       2.700000
max    59955.814073    64.000000    29.000000  324954.720000       3.600000

Finding outliers

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.boxplot(MN[['Inches','Price']])
plt.xticks([1,2],['Inches','Price'])
plt.show()

In [ ]:
 q3 = MN['Inches'].quantile(0.75)
 q1 = MN['Inches'].quantile(0.25)
iqr = q3 - q1
lower_bound=q1-1.5*iqr
upper_bound=q3+1.5*iqr

med_val=MN['Inches'].median()

MN.loc[(MN['Inches']<lower_bound) | (MN['Inches']>upper_bound),'Inches']=round(med_val,0)

In [ ]:
plt.boxplot(MN[['Inches','Price']])
plt.xticks([1,2],['Inches','Price'])
plt.show()

In [ ]:
for i in range(10):
    q3 = MN['Price'].quantile(0.75)
    q1 = MN['Price'].quantile(0.25)
    iqr = q3 - q1
    lower_bound=q1-1.5*iqr
    upper_bound=q3+1.5*iqr
    
    med_val=MN['Price'].median()
    
    MN.loc[(MN['Price']<lower_bound) | (MN['Price']>upper_bound),'Price']=round(med_val,0)

In [ ]:
plt.boxplot(MN[['Inches','Price']])
plt.xticks([1,2],['Inches','Price'])
plt.show()

2. Exploratory Data Analysis (EDA):

=> Univariate analysis

In [ ]:
print("Price Summary:")
print(MN['Price'].describe,())
MN['Price'].hist()

In [ ]:
# Basic data analysis libraries
import pandas as pd
import numpy as np

# Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Settings for aesthetics
sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (10, 6)

import warnings
warnings.filterwarnings("ignore")

MN['TypeName'] = MN['TypeName'].str.strip()        # Remove leading/trailing spaces
MN['TypeName'] = MN['TypeName'].str.replace('\s+', ' ', regex=True)  # RemoveÂ extraÂ spaces
MN['Company'] = MN['Company'].str.strip()

import plotly.express as px

In [ ]:
# Histogram
sns.histplot(MN['Price'], kde=True,color='black')
plt.title("Laptop Price Distribution")

In [ ]:
sns.boxplot(x='Ram', y='Price', data=MN, palette='cividis')
plt.title('Laptop Price Distribution by RAM Size', fontsize=14)
plt.xlabel('RAM (GB)')
plt.ylabel('Price')
plt.grid(True)
plt.show()

In [ ]:
# Bar Chart
MN['Company'].value_counts().plot(kind='bar',color='blue')
plt.title("Laptop Brand Frequency")

=>Bivariate Analysis

In [ ]:
sns.scatterplot(x='Ram', y='Price', data=MN, color='lime', edgecolor='black')
plt.title('Price vs. RAM')
plt.xlabel('RAM (GB)')
plt.ylabel('Price')
plt.grid(True)
plt.show()

In [ ]:
plt.figure(figsize=(12, 6))
sns.boxplot(x='Cpu_Brand', y='Price', data=MN,color='CYAN')
plt.title('Price vs. CPU Brand')
plt.xticks(rotation=0)
plt.show()

In [ ]:
MN['Gpu_Brand'] = MN['Gpu'].str.split().str[0]
sns.violinplot(x='Gpu_Brand', y='Price', data=MN ,palette='Set1')
plt.title("Price Distribution by GPU Brand")
plt.xticks(rotation=0)
plt.tight_layout()
plt.show()

In [ ]:
sns.heatmap(corr, annot=True, fmt='.2f', cmap='RdPu')
plt.title('Average Weight by RAM Size')
plt.xlabel('Weight')
plt.ylabel('RAM (GB)')
plt.tight_layout()
plt.show()

=>Multivariate Analysis

In [ ]:
corr_columns = ['Price','Inches','Ram','Weight']
corr = MN[corr_columns].corr()
plt.figure(figsize=(8, 6))
sns.heatmap(corr, annot=True, cmap='GnBu')
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
# Pairplot for numeric columns
sns.pairplot(MN[corr_columns])
plt.show()

In [ ]:
g = sns.FacetGrid(MN, col='TypeName', col_wrap=3, height=4)
g.map_dataframe(sns.scatterplot, x='Ram', y='Price', hue='Company')
g.add_legend()
plt.subplots_adjust(top=0.9)
g.fig.suptitle('Price vs RAM across Laptop Types')
plt.show()

In [ ]:
fig = px.scatter_3d(MN,x='Ram',y='Inches',z='Price',color='TypeName',hover_data=['Company'],title='3D Scatter Plot: RAM, Inches, and Price')
fig.show()

3. Visualization

In [ ]:
sns.histplot(data=MN, x='Price', kde=True,color='crimson')

In [ ]:
sns.scatterplot(data=MN, x='Ram', y='Price',hue='Company')

In [ ]:
plt.figure(figsize=(16, 6))
sns.boxplot(data=MN, x='Company', y='Price',palette='magma')

In [ ]:
sns.countplot(data=MN, x='TypeName', color='gold')

In [ ]:
sns.heatmap(MN.corr(numeric_only=True), annot=True, cmap='OrRd')

In [ ]:
sns.pairplot(MN[['Price', 'Ram','Weight']])

=> Insightful visualizations

 1. Price Distribution by Company

In [ ]:
sns.histplot(MN['Price'], bins=30, kde=True,color='indigo')

In [ ]:
plt.figure(figsize=(16, 6))
sns.boxplot(x='Company', y='Price', data=MN,palette='BuPu')

In [ ]:
sns.countplot(x='TypeName', data=MN,color='black')

In [ ]:
MN['Ram'].value_counts().plot.pie(autopct='%1.1f%%', colors=sns.color_palette('Set1'))

In [ ]:
sns.scatterplot(x='Ram', y='Price', data=MN,color='fuchsia', edgecolor='black',hue='Company')

In [ ]:
sns.heatmap(corr, annot=True, cmap='YlGn')
plt.title("Correlation Between Numerical Features")
plt.show()

In [ ]:
sns.pairplot(MN[['Price', 'Ram', 'Inches', 'Weight']])

In [ ]:
sns.violinplot(x='Gpu_Brand', y='Price', data=MN,palette='Set1')

In [ ]:
fig = px.scatter_3d(MN,x='Ram',y='Inches',z='Price',color='TypeName',hover_data=['Company'],title='3D Scatter Plot: RAM, Inches, and Price')
fig.show()

In [ ]:
sns.stripplot(x='Ram', y='Weight', data=MN, jitter=True,palette='Set1')

In [ ]:
company_counts = MN['Company'].value_counts().head(5) 
plt.figure(figsize=(8, 8))
company_counts.plot(kind='pie', autopct='%1.1f%%', colors=sns.color_palette('Set1'))
plt.title('Market Share by Company (Top 10)', fontsize=14)
plt.ylabel('')
plt.show()

ANOVA ONE WAY TESTING:

In [ ]:
from scipy.stats import f_oneway

# Drop rows with missing values in 'Company' or 'Price'
MN = MN.dropna(subset=['Company', 'Price'])

# Group Price values by each Company into a list
groups = MN.groupby('Company')['Price'].apply(list)

# Perform One-Way ANOVA test
stat, p_value = f_oneway(*groups)

# Print the result
print("ANOVA Results:")
print(f"F-statistic: {stat:.2f}")
print(f"P-value: {p_value:.4f}")

# Interpret the result
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in average prices between companies.")
else:
    print("Fail to reject the null hypothesis: No significant difference in average prices betweenÂ companies.")